html(lang='en')
  head
    include template/assets.pug
  body
    include template/header.pug
    #classic.classic
      #banner
        img(src='./assets/images/banner/classic.jpg', alt='')
      #main
        .deeds
          h2.title-unit
            span GLORY DEEDS
            span 經典榮耀
          ul.halfBox
            li
              section
                h3.title-slogan 十餘載啟宇精工在海拔2,274米處發光發熱
            li
              section 阿里山沼平車站改建工程， 克服海拔2,274公尺的濕冷天候、地域偏遠、工區狹小、遊客眾多等先天限制，更成功通過無鐵件、全榫接、桁條斜撐等高難度工法挑戰，2013年4月21日，正式落成啟用！
          .pic
            img(src="./assets/images/classic/deeds-1.jpg", alt="").pic
            .txt
              h6 阿里山沼平車站改建工程榮獲
              p 行政院公共工程委員會 第13屆金質獎佳作
              p 行政院農委會  優良農建工程獎建築類優等獎
              img(src="./assets/images/classic/deeds-2.png", alt="")
        .award
          h2.title-unit
            span GLORY AWARD
            span 獲獎榮耀
          .list
            a(href="" data-title="行政院公共工程委員會第13屆金質獎")
              img(src="./assets/images/classic/award-1.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-2.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-3.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-4.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-5.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-6.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-7.jpg", alt="")
            a(href="" data-title="標題內容")
              img(src="./assets/images/classic/award-8.jpg", alt="")
        .performance
          h2.title-unit
            span PROJECT PERFORMANCE
            span 工程實績
          .pic
            img(src="./assets/images/classic/performance.jpg", alt="")
        .works
          h2.title-unit
            span FACTORY + ENGINEERING WORKS
            span 廠辦.土木
          .list
            li
              img(src="./_temp/images/classic-1.jpg", alt="")
              h6 鑫光金屬廠辦一廠(三義)
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-1.jpg", alt="")
              h6 鑫光金屬廠辦一廠(三義)
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-1.jpg", alt="")
              h6 鑫光金屬廠辦一廠(三義)
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-1.jpg", alt="")
              h6 鑫光金屬廠辦一廠(三義)
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-1.jpg", alt="")
              h6 鑫光金屬廠辦一廠(三義)
              span 在建工程
              a(href="classic_content.html").bdbox MORE
          h2.title-unit
            span PUBLIC CONSTRUCTION + SHOP BUILDING<br>RELIGIOUS BUILDING
            span 公共.商業.宗教
          .list
            li
              img(src="./_temp/images/classic-2.jpg", alt="")
              h6 信義鄉基督教長老會教堂
              span 公共.商業.宗教 
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-2.jpg", alt="")
              h6 信義鄉基督教長老會教堂
              span 公共.商業.宗教 
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-2.jpg", alt="")
              h6 信義鄉基督教長老會教堂
              span 公共.商業.宗教 
              a(href="classic_content.html").bdbox MORE
          h2.title-unit
            span COLLECTIVE HOUSING
            span 公共.商業.宗教 
          .list
            li
              img(src="./_temp/images/classic-3.jpg", alt="")
              h6 竹北三上時上
              span 集合住宅
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-3.jpg", alt="")
              h6 竹北三上時上
              span 集合住宅
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-3.jpg", alt="")
              h6 竹北三上時上
              span 集合住宅
              a(href="classic_content.html").bdbox MORE
          h2.title-unit
            span NEW PROPERTY
            span 在建工程
          .list
            li
              img(src="./_temp/images/classic-4.jpg", alt="")
              h6 創健月亮公園
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-4.jpg", alt="")
              h6 創健月亮公園
              span 在建工程
              a(href="classic_content.html").bdbox MORE
            li
              img(src="./_temp/images/classic-4.jpg", alt="")
              h6 創健月亮公園
              span 在建工程
              a(href="classic_content.html").bdbox MORE
    include template/footer.pug
    include template/loading.pug
link(rel='stylesheet', href='./assets/css/classic.css')
script.
  $(function(){
    var classic = new fun_classic();
  });