#idea .list > li {
  *zoom: 1; }
  #idea .list > li:before {
    content: "";
    display: table; }
  #idea .list > li:after {
    content: "";
    display: table;
    clear: both; }

#idea {
  text-align: center; }
  #idea .list {
    position: relative;
    max-width: 1000px;
    padding-bottom: 120px;
    margin: 60px auto 0; }
    #idea .list::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      left: 50%;
      margin-left: .5px;
      top: 0;
      background-color: #a0a0a0; }
    #idea .list > li {
      margin-top: 150px; }
      #idea .list > li > * {
        width: 45%; }
      #idea .list > li:nth-child(odd) > img {
        float: left;
        margin-right: 5%; }
      #idea .list > li:nth-child(odd) > div {
        float: right;
        margin-left: 5%; }
      #idea .list > li:nth-child(even) > img {
        float: right;
        margin-left: 5%; }
      #idea .list > li:nth-child(even) > div {
        float: left;
        margin-right: 5%; }
      #idea .list > li:first-child {
        margin-top: auto; }
      #idea .list > li p {
        text-align: left; }
  #idea .icon {
    color: #96835b;
    font-size: 24px; }
    #idea .icon span {
      display: block;
      margin: 40px auto 5px; }
    #idea .icon + h6 {
      font-size: 18px;
      margin-bottom: 1em; }
  #idea .bg {
    position: relative;
    background-image: url(../images/idea/pic-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 430px;
    margin-bottom: 60px; }
    #idea .bg::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -40px;
      height: 40px;
      width: 1px;
      background-color: #a0a0a0; }
