@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Marcellus");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
.halfBox, .halfDouble > li {
  *zoom: 1; }
  .halfBox:before, .halfDouble > li:before {
    content: "";
    display: table; }
  .halfBox:after, .halfDouble > li:after {
    content: "";
    display: table;
    clear: both; }

.title-unit span:first-child, #pager a.prev::before, #pager a.next::before, #subMenu .trunPage .prev, #subMenu .trunPage .next {
  font-family: 'Marcellus', 'Microsoft JhengHei', serif; }

time.arrow {
  font-family: 'Playfair Display', 'Microsoft JhengHei', serif; }

#subMenu {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center; }

.halfDouble {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start; }

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ { reset } ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

i {
  font-style: initial; }

img {
  max-width: 100%;
  height: auto; }

.unvisible {
  opacity: 0; }

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ { component } ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
a, a:hover {
  color: initial; }

/*icon*/
i[class*='icon-'] {
  position: relative;
  display: inline-block; }
  i[class*='icon-']:before {
    content: '';
    display: inline-block; }

.icon-map {
  content: url("../images/icon-map.png"); }

.icon-tel {
  content: url("../images/icon-tel.png"); }

/*bdbox*/
.bdbox {
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden; }
  .bdbox::before, .bdbox::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
    border: 1px solid #aaa;
    left: 0; }
  .bdbox::before {
    top: 0;
    border-bottom: none; }
  .bdbox::after {
    border-top: none;
    bottom: 0; }

/*banner*/
#banner {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: block; }
  #banner img {
    width: 100%;
    height: auto;
    display: block; }

/*title*/
.title-unit {
  text-align: center;
  text-transform: uppercase; }
  .title-unit span {
    font-size: 16px;
    display: block;
    color: #333; }
    .title-unit span:first-child {
      font-size: 38px;
      line-height: 38px;
      color: #000;
      margin-bottom: 10px; }

.title-slogan {
  position: relative;
  font-size: 38px;
  line-height: 38px;
  padding: 20px 0;
  margin: 30px auto;
  text-align: center;
  line-height: 1.2em; }
  .title-slogan::before, .title-slogan:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    transform: translateX(-50%); }
  .title-slogan::before {
    width: 180px;
    background-color: #e1e1e1; }
  .title-slogan::after {
    width: 1em;
    background-color: #005b4a; }

/*txt*/
.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

/*btn*/
.btns-group {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: table;
  border-spacing: 15px;
  table-layout: fixed; }
  .btns-group a {
    display: table-cell;
    padding: 8px; }

.btn-line {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-line.png); }

.btn-fb {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-fb.png); }

.btn-youtube {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icon-youtube.png); }

/*form*/
.formStyle input[type="text"], .formStyle textarea, .formStyle input[type="password"] {
  display: block;
  background: transparent;
  width: 100%;
  padding: 0 15px 0 110px; }

.formStyle input[type="text"], .formStyle input[type="password"] {
  line-height: 48px; }

.formStyle textarea {
  height: calc(150px - 2em);
  margin: 1em auto; }

.formStyle li {
  position: relative;
  margin: 10px auto;
  border: 1px solid #a0a0a0;
  background-color: #eaeff5; }

.formStyle h6 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  padding-left: 1.5em;
  line-height: 50px; }

.formStyle .required h6::before {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  content: "＊";
  color: #005b4a;
  font-size: 24px;
  height: 24px;
  line-height: 30px;
  transform: translateY(-50%); }

.checkbox {
  position: relative;
  cursor: pointer; }
  .checkbox span {
    display: inline-block;
    line-height: 18px;
    margin-left: 1.5em; }
    .checkbox span::before, .checkbox span::after {
      position: absolute;
      content: "";
      display: block; }
    .checkbox span::before {
      width: 18px;
      height: 18px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
      background-color: #005b4a; }
    .checkbox span::after {
      display: none;
      content: "✓";
      font-weight: bold;
      font-size: 15px;
      line-height: 15px;
      top: 50%;
      left: 0;
      width: 18px;
      text-align: center;
      transform: translateY(-50%);
      color: #fff; }
  .checkbox input {
    position: absolute;
    opacity: 0; }
    .checkbox input:checked + span::after {
      display: block; }

/*pager*/
#pager {
  text-align: center; }
  #pager a {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    padding: 0 5px;
    color: #6d6d6d;
    font-size: 18px; }
    #pager a.prev, #pager a.next {
      height: 38px;
      width: 38px;
      position: relative;
      border-radius: 100%;
      margin: 0 20px;
      border: 1px solid #6d6d6d; }
      #pager a.prev::before, #pager a.next::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '<';
        font-size: 22px; }
    #pager a.next::before {
      content: '>'; }
    #pager a.active {
      border-bottom: 1px solid #a0a0a0; }

/*halfBox*/
.halfBox {
  position: relative;
  margin: 0 auto; }
  .halfBox > li {
    float: left;
    width: 50%;
    padding-left: 5%;
    border-left: 1px solid #ddd;
    margin-left: -1px; }
    .halfBox > li > section {
      float: left; }
    .halfBox > li:first-child {
      padding-right: 5%;
      border-left: none;
      border-right: 1px solid #ddd;
      margin-left: auto; }
      .halfBox > li:first-child > section {
        float: right; }
      .halfBox > li:first-child .title-slogan {
        padding-top: 0;
        margin: 0 auto;
        text-align: right; }
        .halfBox > li:first-child .title-slogan::before, .halfBox > li:first-child .title-slogan::after {
          left: auto;
          right: 0;
          transform: none; }
        .halfBox > li:first-child .title-slogan::after {
          right: calc(90px - .5em); }

/*halfDouble*/
.halfDouble {
  margin: 0 auto; }
  .halfDouble > li {
    width: 50%;
    margin: 0 auto 5%; }
  .halfDouble img {
    display: block; }
  .halfDouble .title {
    position: relative;
    float: right;
    padding: 25px 25px 35px;
    margin: -10% auto 0;
    max-width: 60%;
    background-color: #fff;
    z-index: 1; }
  .halfDouble .title-slogan {
    text-align: left;
    font-size: 18px;
    margin: 0 auto 10px;
    padding: 0 0 10px; }
    .halfDouble .title-slogan::before {
      width: 120px;
      left: 0;
      transform: none; }
    .halfDouble .title-slogan::after {
      width: 2em;
      left: 0;
      transform: none; }

/*rowlist*/
.rowlist {
  display: table;
  margin: 0 auto; }
  .rowlist > * {
    display: table-cell; }

/*infoBox*/
.infoBox [data-title] {
  display: block; }
  .infoBox [data-title]::before {
    content: attr(data-title);
    display: inline-block;
    color: #fff;
    line-height: 25px;
    width: 50px;
    text-align: center;
    margin-right: 1em;
    background-color: #005b4a; }

.infoBox .btn-line {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: 40px auto;
  margin-left: 15px; }

.infoBox .btn-fb {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: 40px auto;
  margin-left: 15px; }

.infoBox .btn-youtube {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-size: 40px auto;
  margin-left: 15px; }

.infoBox .socialMedia {
  margin-top: 20px; }
  .infoBox .socialMedia a:first-child {
    margin-left: auto; }

/*articleContent*/
.articleContent {
  width: 80%;
  margin: 150px auto 300px;
  display: table; }
  .articleContent > * {
    display: table-cell;
    vertical-align: top; }
  .articleContent .photo {
    width: 65%; }
    .articleContent .photo a {
      display: block;
      margin-top: 50px; }
      .articleContent .photo a:first-child {
        margin-top: auto; }
    .articleContent .photo img {
      width: 100%; }
  .articleContent section {
    padding-left: 50px; }
    .articleContent section .title-unit {
      display: inline-block;
      margin-bottom: 60px; }
    .articleContent section .title-slogan {
      margin-top: 10px;
      text-align: left; }
      .articleContent section .title-slogan::before {
        left: 0;
        transform: none; }
      .articleContent section .title-slogan::after {
        left: 90px; }

/*list*/
.list-decimal {
  list-style-type: decimal; }

/*time-arrow*/
time.arrow {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  width: 120px;
  font-size: 24px;
  line-height: 1.25em;
  margin-top: 30px;
  background-color: #a18462; }
  time.arrow::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 30px 60px;
    border-color: transparent transparent #a18462 transparent;
    transform: translateY(-100%);
    left: 0;
    top: 0; }

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ { layout } ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*body*/
body {
  font-size: 16px;
  color: #333;
  letter-spacing: 1px; }

#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #fff; }
  #loading .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  #loading img {
    display: block;
    margin: 0 auto 10px; }

/*header*/
#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99; }
  #header .logo {
    position: absolute;
    left: 30px;
    top: 30px; }
    #header .logo a {
      display: inline-block;
      margin: 0 10px; }

/*menu*/
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  text-align: center;
  min-width: 640px;
  padding: 0 20px;
  transform: translateX(100%);
  transition: all .5s;
  overflow-y: auto;
  z-index: 10;
  background-color: #ecf1f3; }
  #menu.open {
    transform: translateX(0); }
  #menu > ul {
    margin: 0 auto; }
    #menu > ul a {
      display: block;
      white-space: nowrap;
      padding: .25em 0; }
    #menu > ul > li {
      display: block;
      float: left;
      padding: 0 10px;
      width: 150px;
      margin: 20% auto 0; }
      #menu > ul > li:nth-child(4n+1) {
        clear: both; }
      #menu > ul > li a:first-child {
        letter-spacing: .2em;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: .5em; }
        #menu > ul > li a:first-child::before, #menu > ul > li a:first-child::after {
          content: '-';
          font-weight: normal; }

.btn-hamburger {
  position: fixed;
  display: block;
  right: 0;
  top: 0; }
  .btn-hamburger .menu--effect {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #000;
    cursor: pointer;
    overflow: hidden; }
    .btn-hamburger .menu--effect .menu__icon {
      position: absolute;
      width: 30px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .btn-hamburger .menu--effect .menu__line {
      position: absolute;
      left: 0;
      background-color: #fff;
      height: 3px;
      width: 100%;
      border-radius: 3px;
      pointer-events: none; }
      .btn-hamburger .menu--effect .menu__line--1 {
        top: 0; }
      .btn-hamburger .menu--effect .menu__line--2 {
        top: 0;
        bottom: 0;
        margin: auto; }
      .btn-hamburger .menu--effect .menu__line--3 {
        bottom: 0; }
    .btn-hamburger .menu--effect .menu__line--4,
    .btn-hamburger .menu--effect .menu__line--5 {
      opacity: 0;
      top: 8.5px;
      transition: opacity .2s ease-in-out,transform .2s ease-in-out; }
    .btn-hamburger .menu--effect .menu__line--1 {
      transition: width .2s ease-in-out .4s; }
    .btn-hamburger .menu--effect .menu__line--2 {
      transition: width .2s ease-in-out .3s; }
    .btn-hamburger .menu--effect .menu__line--3 {
      transition: width .2s ease-in-out .2s; }
    .btn-hamburger .menu--effect .menu__line--4 {
      transform: rotate(45deg) translate3d(30px, 0, 0);
      transition: opacity .2s ease-in-out .2s, transform .2s ease-in-out .2s; }
    .btn-hamburger .menu--effect .menu__line--5 {
      transform: rotate(-45deg) translate3d(30px, 0, 0);
      transition: opacity .2s ease-in-out,transform .2s ease-in-out; }
    .btn-hamburger .menu--effect.open .menu__line--1 {
      width: 0;
      transition: width .2s ease-in-out; }
    .btn-hamburger .menu--effect.open .menu__line--2 {
      width: 0;
      transition: width .2s ease-in-out .1s; }
    .btn-hamburger .menu--effect.open .menu__line--3 {
      width: 0;
      transition: width .2s ease-in-out .2s; }
    .btn-hamburger .menu--effect.open .menu__line--4 {
      opacity: 1;
      transform: rotate(45deg) translate3d(0, 0, 0);
      transition: opacity .2s ease-in-out .2s,transform .2s ease-in-out .2s; }
    .btn-hamburger .menu--effect.open .menu__line--5 {
      opacity: 1;
      transform: rotate(-45deg) translate3d(0, 0, 0);
      transition: opacity .2s ease-in-out .4s,transform .2s ease-in-out .4s; }

/*subMenu*/
#subMenu {
  position: relative;
  text-align: center;
  padding: 0 10%;
  margin: -60px auto 0;
  background-color: #fff; }
  #subMenu.fixed {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    width: 100%;
    z-index: 9; }
  #subMenu h2 {
    font-size: 24px;
    letter-spacing: .2em;
    display: table-cell;
    white-space: nowrap;
    padding-right: 5%; }
  #subMenu nav {
    position: relative;
    display: table;
    table-layout: fixed;
    min-height: 60px;
    width: 100%;
    border-top: 3px solid #959595; }
    #subMenu nav a {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      color: #666;
      padding: 10px 1em;
      line-height: normal;
      transition: all .4s; }
      #subMenu nav a::after {
        content: '';
        position: absolute;
        left: 0;
        top: -3px;
        width: 100%;
        height: 3px;
        display: none;
        background-color: #96835b; }
      #subMenu nav a.active, #subMenu nav a:hover {
        background-color: #eef2f7; }
        #subMenu nav a.active::after, #subMenu nav a:hover::after {
          display: block; }
  #subMenu .trunPage a {
    color: #666; }
  #subMenu .trunPage .back {
    background-color: #eef2f7; }
    #subMenu .trunPage .back > * {
      display: inline-block;
      vertical-align: middle; }
    #subMenu .trunPage .back img {
      width: 20px;
      height: 20px;
      margin-right: 10px; }
  #subMenu .trunPage .prev, #subMenu .trunPage .next {
    color: #005b4a;
    font-size: 24px; }

/*slidePage*/
#slidePage > section {
  padding: 40px 0; }
  #slidePage > section .title-unit {
    margin: 5%  auto; }

/*main*/
#main {
  position: relative;
  padding: 60px 0 10%;
  min-height: 100vh;
  background-color: #fff;
  line-height: 2em; }

/*footer*/
#footer {
  position: relative;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding: 55px 0 25px;
  background-color: #fff; }
  #footer .sitemap {
    margin-bottom: 100px; }
    #footer .sitemap a {
      display: block;
      margin: 10px 0; }
    #footer .sitemap li {
      display: inline-block;
      vertical-align: top;
      margin: 0 40px; }
      #footer .sitemap li > a:first-child {
        color: #005b4a;
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: bold; }
  #footer .btn-line {
    width: 40px;
    height: 40px;
    background-size: 25px auto; }
  #footer .btn-fb {
    width: 40px;
    height: 40px;
    background-size: 25px auto; }
  #footer .btn-youtube {
    width: 40px;
    height: 40px;
    background-size: 25px auto; }
  #footer .siteinfo a {
    display: inline-block; }
  #footer .siteinfo [data-title] {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px; }
    #footer .siteinfo [data-title]::before {
      transform: translateY(-100%);
      content: attr(data-title);
      position: absolute;
      display: block; }
  #footer .bdbox {
    margin: 0 2.5px; }
  #footer .btn-map {
    margin: 0 10px 0 20px; }
  #footer .btn-tel {
    margin: 0 10px; }
  #footer .copyright {
    color: #999;
    display: inline-block;
    text-align-last: left;
    margin-left: 10px; }
    #footer .copyright a {
      color: #999; }

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ { responsive } ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
@media (max-width: 1000px) {
  /*header*/
  #header .logo a {
    display: none; }
  #header .logo a:first-child {
    display: block; }
  .btn-hamburger {
    right: 20px;
    top: 20px; }
    .btn-hamburger .menu--effect {
      background-color: #fff; }
      .btn-hamburger .menu--effect .menu__line {
        background-color: #000; }
  #menu {
    right: auto;
    left: 0;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    min-width: 60vw;
    max-width: 100%;
    padding-top: 20%; }
    #menu > ul > li {
      width: 50%; }
      #menu > ul > li:nth-child(4n+1) {
        clear: none; }
      #menu > ul > li:nth-child(2n+1) {
        clear: both; }
      #menu > ul > li a::before, #menu > ul > li a::after {
        display: none; }
  #subMenu {
    display: none; } }
