#news.news .list > li {
  *zoom: 1; }
  #news.news .list > li:before {
    content: "";
    display: table; }
  #news.news .list > li:after {
    content: "";
    display: table;
    clear: both; }

#news #main {
  padding-bottom: 200px; }

#news.news .title-unit {
  margin-top: 80px; }

#news.news .list {
  max-width: 1020px;
  margin: 0 auto; }
  #news.news .list > li {
    position: relative;
    border: 1px solid #e1e1e1;
    margin: 200px auto;
    min-height: 350px;
    padding: 5%; }
    #news.news .list > li:first-child {
      margin-top: 50px; }
  #news.news .list img {
    position: absolute;
    display: block;
    right: 5%;
    max-width: 60%; }
  #news.news .list a {
    float: left;
    width: 30%;
    display: block; }
  #news.news .list h6 {
    font-size: 22px;
    margin-bottom: 20px; }
  #news.news .list article {
    display: block;
    line-height: 1.5em;
    color: #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1; }
  #news.news .list span {
    display: block;
    text-align: center; }
  #news.news .list time.arrow {
    position: absolute;
    left: 18.5%;
    bottom: -50px;
    transform: translateX(-50%); }
  #news.news .list > li:nth-child(odd) a {
    float: right; }
  #news.news .list > li:nth-child(odd) img {
    right: auto;
    left: 5%; }
  #news.news .list > li:nth-child(odd) time.arrow {
    left: auto;
    right: 18.5%;
    transform: translateX(50%); }
