meta(http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=1" charset="UTF-8")
title 啟宇營造
// css
link(rel='stylesheet', href='./assets/css/reset.css')
link(rel='stylesheet', href='./assets/scripts/fancybox/jquery.fancybox.min.css')
link(rel='stylesheet', href='./assets/css/layout.css')
// javascript
script(src='./assets/scripts/jquery/jquery-3.3.1.min.js')
script(src='./assets/scripts/jquery/jquery-migrate-3.0.0.min.js')
script(src='./assets/scripts/fancybox/jquery.fancybox.min.js')
script(src='./assets/scripts/custom.js')