footer#footer
  ul.sitemap
    include nav.pug
  .siteinfo
    //- a.btn-line.bdbox(href="", title="line")
    a.btn-fb.bdbox(href="https://www.facebook.com/CheeryouCycling/", title="facebook", target="_blank")
    a.btn-youtube.bdbox(href="https://www.youtube.com/channel/UCupK2lA4sW1DtPeCX781e1A?view_as=subscriber", title="youtube", target="_blank")
    a.btn-map(href="https://goo.gl/maps/9KRhZDbEeos", target="_blank")
      i.icon-map
      span(data-title="ADD") 台中市南屯區永春北路55號
    a.btn-tel(href="tel:04-2382-8211")
      i.icon-tel
      span(data-title="TEL") 04-2382-8211
    p.copyright
      | Copyright © CheerYou Construction. All rights reserved.
      br
      a(href="http://www.mo-ss.com/", target="_blank") Designed by Moss
