header#header
  a.logo(href='index.html', title='啟宇營造')
    img(src='./assets/images/logo-cheeryou.png', alt='')
  a.btn-hamburger
    .menu--effect
      .menu__icon
        .menu__line.menu__line--1
        .menu__line.menu__line--2
        .menu__line.menu__line--3
        .menu__line.menu__line--4
        .menu__line.menu__line--5
nav#menu
  ul.clearfix
    include nav.pug