.history
  h2.title-unit
    span COMPANY HISTORY
    span 公司沿革
  h3.title-slogan 一步一腳印，朝著夢想向前進
  .txt-center
    | 想把房子蓋好的心，無比堅定；<br>想要立築大地的意志，執著熱情！<br>啟宇的成長，來自大地的恩賜，來自業主的信賴，也來自同仁們盡其所能的用心！<br>未來的啟宇，仍將堅定步伐，走向永續經營的道路！
  ul.list
    li
      time 106.12
      p 
        span 第七次增資：增資為新台幣貳億元整
    li
      time 106.03
      p 
        span 第六次增資：增資為新台幣壹億伍仟萬元整
    li
      time 101.05
      p 
        span 第五次增資：增資為新台幣壹億元整
    li
      time 100.08
      p 
        span 第四次增資：增資為新台幣伍仟萬元整
    li
      time 99.03
      p 
        span 第三次增資：增資為新台幣參仟貳百伍拾萬元整
    li
      time 98.01
      p 
        span 成立創健建設：資本額為新台幣捌仟萬元整
    li
      time 97.10
      p 
        span 晉陞為甲級營造廠<br>營造業登記證號-綜甲M字第A09520-000號
    li
      time 97.08
      p 
        span 第二次增資：增資為新台幣貳仟貳佰伍拾萬元整<br>並辦理晉陞為甲級營造廠
    li
      time 95.96.97
      p 
        span 連續三年營造評鑑第一級<br>(圖：95~97年營造業評鑑證書)
    li
      time 92.01
      p 
        span 晉陞為乙級營造廠<br>第一次增資：增資為新台幣壹仟伍佰萬元整
    li
      time 88.11
      p 
        span 正式成立為丙級營造廠<br>資本額：新台幣參佰萬元整以承攬各項土木建築
.group
  h2.title-unit
    span CHEER YOU GROUP
    span 啟宇集團
  ul.list
    li
      img(src="./assets/images/about/group-1.jpg")
      span 啟宇營造工程股份有限公司<br>Cheer You Construction Co.,Ltd.
    li
      img(src="./assets/images/about/group-2.jpg")
      span 創健建設股份有限公司<br>Chuang Jian Building Co.,Ltd.
    li
      img(src="./assets/images/about/group-3.jpg")
      span 宇創開發有限公司<br>You Jian Development Co., Ltd.
    li
      img(src="./assets/images/about/group-4.jpg")
      span 啟宇營造(泰國)股份有限公司<br>Cheer You Construction (Thailand) Co.,Ltd.
.certificate
  h2.title-unit
    span CERTIFICATE OF<br>INCORPORATION
    span 公司證照
  div.list
    ul
      li
        img(src="./assets/images/about/certificate-1.jpg")
        div
          h6 公司證照
          span 綜合營造登記證書
      li
        img(src="./assets/images/about/certificate-2.jpg")
        div
          h6 公司證照
          span 綜合營造登記證書
      li
        img(src="./assets/images/about/certificate-3.jpg")
        div
          h6 公司證照
          span 甲等會員證書
    ul
      li
        img(src="./assets/images/about/certificate-4.jpg")
        div
          h6 榮譽晉升
          span 97年甲級營造廠
      li
        img(src="./assets/images/about/certificate-5.jpg")
        div
          h6 榮譽晉升
          span 96年甲級營造廠
      li
        img(src="./assets/images/about/certificate-6.jpg")
        div
          h6 榮譽晉升
          span 95年甲級營造廠
  p.txt 營造評鑑連續三年第一級升等為甲級營造廠