.team
  h2.title-unit
    span OPERATING TEAM
    span 經營團隊
  h3.title-slogan 尊重專業、協同合作、深厚信賴
  .txt-center 從土地開發到建築規劃、從結構工程到設計美學，<br>啟宇在實踐中不斷尋找理念相合的夥伴，厚實團隊的專業與素養，<br>彼此相互扶持、學習成長！因為旗鼓相當的專業堅持與經驗價值，<br>所以有最好的默契，共同展現出最優勢的競爭力！
  ul.list
    li
      img(src="./assets/images/about/team-1.jpg").pic
      div.txt
        .name
          h6 李 慕麟
          p GENERAL MANAGER<br>總經理
        table
          tr
            th 學　歷：
            td 逢甲大學水利工程學系畢業
          tr
            th 經　歷：
            td
              p 逢甲大學土木水利工程研究所研究助理
              p 德寶營造/ 嘉南一景四棟22層集合住宅.中國國際商業銀行員林分行
              p 北屯國家廣場22層集合住宅
              p 省住都局/ 中投公路CT010標烏溪橋預力RC結構
          tr
            th 證　照：
            td 品管工程師.勞工安全衛生管理員
    li
      img(src="./assets/images/about/team-2.jpg").pic
      div.txt
        .name
          h6 黃 彬煌
          p ENGINEERING TECHNICIAN<br>主任技師
        table
          tr
            th 學　歷：
            td 逢甲大學建築學系畢業
          tr
            th 經　歷：
            td
              p 由鉅建設.聖家族.聖美村.八大家.合造興.明煌營造主任技師
              p 宇興建設/ 上海國際華城.彰化健康里鄰.公園麗景.潮州和風鄉園
              p 建研建設/ 荷風名廬.台鳳大炁四方設計大展.豐原成功金店
              p 國唐建設/ 國唐綠園道.台灣國寶科技大樓.湖水岸藝術街
              p 亞洲大學/ 教學大樓.宿舍大樓.動力中心.校園景觀
              p 成中恆營造/ 高鐵台中車站.文心稅捐處大樓.中正公園停車場.彰濱
              p 秀傳醫院.南投啟智教養院.逢甲大學體育館.國泰建設雅苑.台北萬
              p 華運動中心.鼎泰三三行館.麻豆第一銀行.巨匠東海儷堡.逢甲大學
              p 學思樓.逢甲文華創意中心.嘉義大同技術學院教學大樓.竹北佐多
              p 稻子.元均枕草子.天心工業廠辦.南瀛天文館.銳豐四季花園
          tr
            th 證　照：
            td 建築師.室內裝修專業技術人員.施工安全評估人員.消防設備師
    li
      img(src="./assets/images/about/team-3.jpg").pic
      div.txt
        .name
          h6 王 嘉儀
          p DIRECTOR<br>協理
        table
          tr
            th 學　歷：
            td 中原大學土木水利工程學系畢業
          tr
            th 經　歷：
            td
              p 德寶營造/ 嘉南一景四棟22層集合住宅.嘉義聯統忠孝.聯統文化集
              p 合住宅.台中市陸裝光華忠勤二十二棟眷村改建.彰化觀天下集合住宅
              p 義峰營造/ 三采市政天地.三采市政新境.英才中華電信大樓
              p 中鼎工程顧問/ 中二高C318標.C325A標高速公路新建工程
          tr
            th 證　照：
            td 勞工安全衛生管理員
    li
      img(src="./assets/images/about/team-4.jpg").pic
      div.txt
        .name
          h6 吳 智祥
          p MANAGER<br>總經理
        table
          tr
            th 學　歷：
            td 屏東農業專科學校農業土木工程科畢業
          tr
            th 經　歷：
            td
              p 德寶營造/ 省政府旅遊局辦公廳舍
              p 省住都局/ 彰化市建國路高架橋.彰化天祥路2-4號道路
              p 和美鎮信義.愛華道路.埔心鄉三號道路.埔鹽雨水下水道工程
              p 花壇雨水下水道工程
              p 健峰營造/ 濁水溪番仔寮堤岸工程
          tr
            th 證　照：
            td 品管工程師.工地主任
    li
      img(src="./assets/images/about/team-5.jpg").pic
      div.txt
        .name
          h6 陳 金泉
          p MANAGER<br>總經理
        table
          tr
            th 學　歷：
            td 國立成功大學土木研究所
          tr
            th 經　歷：
            td
              p 德寶營造/ 國泰世華銀行台南分行.長榮台糖觀光飯店.東方國
              p 宅4棟集合住宅.嘉義聯統忠孝大樓集合住宅.台南機場跑道工程
          tr
            th 證　照：
            td 土木技師.品管工程師.工地主任.勞安安全衛生管理員.施工安全評估人員
    li
      img(src="./assets/images/about/team-6.jpg").pic
      div.txt
        .name
          h6 五十嵐 信夫
          p DESIGN CONSULTANT<br>設計顧問
        table
          tr
            th 學　歷：
            td 1998 株式會社 一級建築士事務所 FOREST-SHIP
          tr
            th 經　歷：
            td
              p 2003 高而潘建築師事務所(台灣)
              p 廣興國小興建工程/ 遠東建築921校園重建特別獎(第三屆)入圍獎
              p 青森縣大畑町中央保育所/ 日本建築學會 東北建築獎得獎
              p 山梨縣甲府市社區營造/ 學會競圖比賽(日本建築學會)優秀獎
              p 高屏溪生態親水公園規畫設計/ 建築園冶獎.技優臮福獎
              p 高屏溪自行車道第三期工程/ 建築園冶獎 (第十四屆)
              p 新北市直潭社區公共建設工程/ 第一屆新北市都市設計大賞 得獎
              p 阿里山高山植物園管理棟/ 行政院農委會優良農建工程獎
              p 日本不動產學會業績獎/ 阿里山国家森林遊樂區『天空の森林理想鄉』
              p 沼平車站改建工程/ 第13屆公共工程金質獎.行政院農委會優良農
              p 建工程獎.阿里山開發案日本不動產學會實績獎
              p 竹崎鹿滿客家文化菸樓風貌再現工程/ 第二十屆2014年建築園冶獎
          tr
            th 證　照：
            td
              p 台北市  迪化街景觀改善設計
              p 高雄縣  高屏溪流域自行車道系統計畫
              p 嘉義縣  阿里山國家森林遊樂區建築暨景觀整體規劃  
              p 台中縣  谷關溫泉區街景人行步道建置工程
              p 嘉義縣  沼平車站改建工程
.structure
  h2.title-unit
    span ORGANIZATIONAL<br>STRUCTURE
    span 組織架構
  h3.title-slogan 員工是最重要的資產，組織是最關鍵的核心
  .txt-center 啟宇深信人力資源是企業永續經營的原動力，<br>擁有優良素質與健康體能的員工，公司才有活力與競爭力。<br>啟宇擁有完整的教育課程，讓新人透過放樣測量、施工估算、安全衛生、工地施工標準、甚至自行車運動技巧等訓練，<br>不只讓公司的人力素質再提升，更維繫起緊密的企業向心力，保持公司的專業競爭優勢。
  img(src="./assets/images/about/structure.png")
.professional
  h2.title-unit
    span PROFESSIONAL
    span 專業人才
  h3.title-slogan 集結有理想的建築人，實現有夢想的精工藝
  .txt-center 啟宇營造目前員工人數70人，其中九成以上擁有大專以上學歷，<br>80%為工程師人員，專業證照總計五十張，是工程品質的最佳保證。
  img(src="./assets/images/about/professional-1.png", alt="")
  img(src="./assets/images/about/professional-2.png", alt="")