.sustainable
  h2.title-unit
    span SUSTAINABLE<br>OPERATION
    span 永續經營
  h3.title-slogan 企業總部：讓服務更永續
  .txt-center 啟宇營造與創健建設企業總部，預計將於2015年正式啟用！<br>新的企業總部，擁有更多功能的會議空間，作為與業主、客戶、溝通的場所；<br>也為員工保留更大的生活、交誼的場地，期能更緊密凝聚團隊向心力，促成內部間研發、設計的互動，提供更永續而穩定的經營管理和後勤支援。<br>「有家，心頭定」！這座屬於啟宇營造的「家」，也將是全體夥伴們齊心創造永續服務的全新起點，誠摯歡迎　您的蒞臨指教！
  .pic
    img(src="./assets/images/about/sustainable.jpg", alt="")
    p 啟宇總部辦公大樓 (台中)
.green
  h2.title-unit
    span GREEN<br>INHERITANCE
    span 綠色資產
  h3.title-slogan 樹木銀行：把景觀作到最好
  .txt-center 愛樹、愛自然的啟宇營造，為了讓每座建築都有最美的造景，在每一場建案進行之際，<br>都將適宜的落羽松、楓香、樟樹、大型桂花、大七里香等之樹苗與樹種，預先移植至特別購置、悉心涵養的千坪土地，<br>使每件個案趨近完工時，可以在最短時間內移植，完成景觀造境作業。<br>啟宇相信，樹是人最好的朋友，跟人一樣需要被照顧、被栽培，我們願意用心，為樹、為人、為地球，貢獻一己之力。
  img(src="./assets/images/about/green-1.jpg", alt="").banner
  img(src="./assets/images/about/green-2.jpg", alt="")