.accounting
  h2.title-unit
    span ACCOUNTING<br>SYSTEM
    span 財會系統
  h3.title-slogan 會計.工程.估算全面ｅ化整合，迎接新時代
  .txt-center 啟宇秉持穩健踏實的財會原則，專業控管財務處理，除了長期委託『理圓會計師事務所』負責所有的財簽、稅簽外，<br>面對競爭環境改變，公司內部也導入ACM會計、CSTT工程估算、AWM工程請款管理等系統，<br>以M-SEVICES共同資料庫的觀念，規劃各種工程資料庫，提供連貫完整的共同資訊，建立各工種工項之代碼數量，<br>從估算執行，預算發包、採購、請款計價、估驗會計到財務結算全面升級，<br>讓管理單位可隨時掌控發包數量成本、合約請款及變更追加減，確認公司的財務狀況，提升決策精準度。
  img(src="./assets/images/advanced/accounting.png", alt="").sevices
  ul.system
    li
      img(src="./assets/images/advanced/accounting-data-1.jpg", alt="")
      p AMW估驗系統
    li
      img(src="./assets/images/advanced/accounting-data-2.jpg", alt="")
      p ACM會計系統
    li
      img(src="./assets/images/advanced/accounting-data-3.jpg", alt="")