.website
  h2.title-unit
    span WEBSITE
    span 資訊網站
  h3.title-slogan BtoC企業網站，與使用者面對面交流情份
  .txt-center 建立充足的後勤支援作業系統，全面掌握工地前線各項施工狀況，迅速提出解決方案！
  ul.halfBox
    li
      section
        img(src="./assets/images/advanced/cheeryou.png", alt="").logo
        .infoBox
          a(data-title="ADD" href="https://goo.gl/maps/9KRhZDbEeos", target="_blank") 台中市南屯區永春北路55號
          a(href="tel:04-23828211" data-title="TEL") 04-23828211
          p(data-title="FAX") 04-23828311
          .socialMedia
            a(href="").btn-line.bdbox
            a(href="https://www.facebook.com/CheeryouCycling/", target="_blank").btn-fb.bdbox
            a(href="https://www.youtube.com/channel/UCupK2lA4sW1DtPeCX781e1A?view_as=subscriber", target="_blank").btn-youtube.bdbox
    li
      section
        img(src="./assets/images/advanced/chwangjan.png", alt="").logo
        .infoBox
          a(data-title="ADD" href="https://goo.gl/maps/9KRhZDbEeos", target="_blank") 台中市南屯區永春北路55號
          a(href="tel:04-23828211" data-title="TEL") 04-23828022
          p(data-title="FAX") 04-23828122
          a(href="https://chwangjan.com.tw/index.php", target="_blank", data-title="WEB") chwangjan.com.tw/index.php