.rearServices
  h2.title-unit
    span Building Of<br>Rear Services 
    span 工地後勤
  .rear
    ul.halfBox
      li
        section
          h3.title-slogan 完整後勤支援<br>作業系統<br>全面支援、工程檢討
      li
        section
          ol
            li
              h6 1. 購入BIM軟體應用：建築3D可視化干涉檢討
              p (1)機電設備、管線衝突檢討，整合室內裝修、結構體與機電空間。
              p (2)建築細部3D化，整合土建、機電及估算數量。
            li
              h6 2. 導入Sketch up軟體應用:建築美學及工程收頭檢討
              p 建立建築內外3D模型，貼著建材，可全方位研究建築細部
    img(src="./assets/images/quality/rear-BIM.png", alt="").bim
    ul.data
      li
        img(src="./assets/images/quality/rear-flat.jpg", alt="")
        p 放樣圖
      li
        img(src="./assets/images/quality/rear-progress.jpg", alt="")
        p 進度管控
  .bim-application
    h3.title-slogan BIM系統實際應用
    img(src="./assets/images/quality/rear-BIM-3d.jpg", alt="").bim
    ul.rowlist
      li
        img(src="./assets/images/quality/rear-BIM-3d-1.jpg", alt="")
        p 創健商旅- BIM系統實際應用案例(設備)
      li
        img(src="./assets/images/quality/rear-BIM-3d-2.jpg", alt="")
        p 泰國工廠- BIM系統實際應用案例(設備)
  .qualityControl
    h2.title-unit
      span Engineering Quality<br>Control
      span 工程品管
    h3.title-slogan 品管，營造公司的專業與責任
    .txt-center 以專業營造為本，「先計畫、後施工」是啟宇人專注工程品質的第一步，「安全品質、工期成本」是公司努力的目標，<br>施工過程中，我們導入「三級品管制度」，透過嚴格品管及工地環環相扣的內控制度，<br>落實對品質的不二堅持，將品質政策貫徹到每一細節。<br>我們深信，品質是營造廠唯一存在的價值，所以我們全心全意，追求盡己所能，將一切作到最好！
    img(src="./assets/images/quality/qualityControl.png", alt="")
  .audit
    h2.title-unit
      span SAFETY AUDIT
      span 工地稽核
    h3.title-slogan 嚴實工地稽核，鉅細靡遺絕不懈怠
    ul.halfBox
      li
        section
          | 品質稽核權責<br>
          | 為驗證品質保證系統是否被正確實施，以及適時發掘問題，並採取矯正措施，以達維持各項品質作業之特性。<br>
          | 品管師於專案工程開工前擬定稽核計劃表，並呈總經理或管理代表審核後，據以執行。
      li
        section
          p.green 稽核項目：(1)圖面檢討 (2)放樣 (3)鋼筋 (4)模板 (5)澆置 (6)鋼構 (7)泥作裝修 (8)假設工程 (9)安全衛生 (10)品質管理 (11)工務所設施
          p 稽核小組：每次稽核前，由管理部負責籌組稽核小組
          p 每週由專任工程人員帶領稽核小組至工地現場查核
    img(src="./assets/images/quality/audit.png", alt="")
    
