.management
  h2.title-unit
    span Management<br>Conference
    span 管理會議
  h3.title-slogan 有效溝通、經常討論，作好協同作業
  ul.halfDouble
    li  
      img(src="./assets/images/quality/conference-1.jpg", alt="")
      .title
        p.title-slogan 內部會議
        ol
          li 1. 每周公司主管會議
          li 2. 每月公司會計、內業內部會議
          li 3. 個案業務、工程估算簡報會議
    li
      img(src="./assets/images/quality/conference-2.jpg", alt="")
      .title
        p.title-slogan 工地會議
        ol
          li 1. 工程預算審核會議：進度成本、人事獎金
          li 2. 每天工地內部會議：休假交接、工程重點提示 
          li 3. 每週工地主管與業主會議
          li 4. 每半個月工地工務會議
          li 5. 工地內業文件評比
  ul.education
    li
      img(src="./assets/images/quality/education.jpg", alt="")
    li.txt
      h6.title-slogan 教育訓練 
      ol
        li 1. 新進同仁教育訓練週
        li 2. 建築教育訓練週：個案參觀、分享、學習
        li 3. 每週單車活動、每年長程單車之旅
  .pics
    li
      img(src="./assets/images/quality/pic-1.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-2.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-3.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-4.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-5.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-6.jpg", alt="")
    li
      img(src="./assets/images/quality/pic-7.jpg", alt="")