.interface 
  h2.title-unit
    span Construction Interface<br>Integration
    span 工程界面整合
  h3.title-slogan 工程界面管理三大前置作業，確實作好準備
  .txt-center 面對每一項工程，啟宇以兢兢業業的心情，作好工程前的三項準備工作，以萬全的狀態迎接施工後的一切挑戰！
  ol.list-decimal
    li 1.審慎的圖面檢討
    li 2.完整的施工計劃
    li 3.建築美學的表現
  img(src="./assets/images/quality/interface.png", alt="")
  .model
    a(data-caption="前置作業-圍籬、拆除、整地、放樣工程", data-fancybox="images", href="./assets/images/quality/interface-model/pic-1-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-1.jpg", alt="")
      p 前置作業-圍籬、拆除、整地、放樣工程
    a(data-caption="開挖工程-土方運棄", data-fancybox="images", href="./assets/images/quality/interface-model/pic-2-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-2.jpg", alt="")
      p 開挖工程-土方運棄
    a(data-caption="結構體工程-PC層", data-fancybox="images", href="./assets/images/quality/interface-model/pic-3-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-3.jpg", alt="")
      p 結構體工程-PC層
    a(data-caption="結構體工程-基礎版", data-fancybox="images", href="./assets/images/quality/interface-model/pic-4-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-4.jpg", alt="")
      p 結構體工程-基礎版
    a(data-caption="結構體工程-基礎柱、地樑", data-fancybox="images", href="./assets/images/quality/interface-model/pic-5-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-5.jpg", alt="")
      p 結構體工程-基礎柱、地樑
    a(data-caption="結構體工程-1F樓版", data-fancybox="images", href="./assets/images/quality/interface-model/pic-6-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-6.jpg", alt="")
      p 結構體工程-1F樓版
    a(data-caption="結構體工程-(東側)1～3F鋼構柱、樑", data-fancybox="images", href="./assets/images/quality/interface-model/pic-7-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-7.jpg", alt="")
      p 結構體工程-(東側)1～3F鋼構柱、樑
    a(data-caption="結構體工程-(東側)屋頂鋼構柱、樑", data-fancybox="images", href="./assets/images/quality/interface-model/pic-8-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-8.jpg", alt="")
      p 結構體工程-(東側)屋頂鋼構柱、樑
    a(data-caption="結構體工程-(西側)1～3F鋼構柱、樑", data-fancybox="images", href="./assets/images/quality/interface-model/pic-9-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-9.jpg", alt="")
      p 結構體工程-(西側)1～3F鋼構柱、樑
    a(data-caption="結構體工程-(西側)屋頂鋼構柱、樑", data-fancybox="images", href="./assets/images/quality/interface-model/pic-10-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-10.jpg", alt="")
      p 結構體工程-(西側)屋頂鋼構柱、樑
    a(data-caption="結構體工程-屋面桁條", data-fancybox="images", href="./assets/images/quality/interface-model/pic-11-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-11.jpg", alt="")
      p 結構體工程-屋面桁條
    a(data-caption="屋面工程-烤漆鋼板、氣樓", data-fancybox="images", href="./assets/images/quality/interface-model/pic-12-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-12.jpg", alt="")
      p 屋面工程-烤漆鋼板、氣樓
    a(data-caption="外牆板材組立", data-fancybox="images", href="./assets/images/quality/interface-model/pic-13-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-13.jpg", alt="")
      p 外牆板材組立
    a(data-caption="外牆及門窗裝修工程", data-fancybox="images", href="./assets/images/quality/interface-model/pic-14-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-14.jpg", alt="")
      p 外牆及門窗裝修工程
    a(data-caption="景觀工程、使用執照照請領", data-fancybox="images", href="./assets/images/quality/interface-model/pic-15-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-15.jpg", alt="")
      p 景觀工程、使用執照照請領
    a(data-caption="二次工程-鋪面、3D鋼網牆，窗戶開口", data-fancybox="images", href="./assets/images/quality/interface-model/pic-16-large.jpg")
      img(src="./assets/images/quality/interface-model/pic-16.jpg", alt="")
      p 二次工程-鋪面、3D鋼網牆，窗戶開口
  ul.tiles
    li
      h3.title-slogan 外牆磁磚
      p 所有外牆磁磚工程、磁磚規格確認決定後、<br>先行磁磚分割計劃圖面檢討：<br>切磚位置、轉角處理方式、各處收邊方式　後開始打底施工
      div.pic
        img(src="./assets/images/quality/tile-point-1.jpg", alt="")
        img(src="./assets/images/quality/tile-point.png", alt="").point
    li
      h3.title-slogan 室內磁磚
      p 所有室內磁磚工程、磁磚規格確認決定後、<br>先行磁磚分割計劃圖面檢討：浴室・廁所等設計牆面也磁磚<br>空間、採用5面展開圖牆面及地坪分割方式一併檢討。
      img(src="./assets/images/quality/tile-point-2.jpg", alt="")
  .plan
    h2.title-unit
      span Construction<br>Plan
      span 工程界面整合
    ul.halfBox
      li
        section
          h3.title-slogan 先計劃、後施工確保施工品質
      li
        section
          p 訂定各階段工程重點計劃項目，確實依計劃圖說施工，並嚴格管控與檢討：
          ol
            li 1. 施工前：嚴謹討論計劃可行性，確保目標一致。
            li 2. 施工中：確實稽核並檢討施工計劃執行情形。
            li 3. 完工後：完整收集計劃到竣工過程間各項資料數據，做工料分析，回饋成為日後工程估價數值參考，以建立施工標準化與規格化。
    img(src="./assets/images/quality/plan.png", alt="")
    .charts
      img(src="./assets/images/quality/interface-charts.jpg", alt="")
      p 工程進度表