.information
  h2.title-unit
    span CONTACT<br>INFORMATION
    span 客戶服務
  h3.title-slogan 啟宇營造深信「有願景才能凝聚向前創新的動力」 
  .txt-center 以穩健經營，品質專業為基礎；接受業主交付的每一件營造工程。<br>啟宇營造懷著感恩誠信心，兢兢業業經營，結合專業技術、菁英人才、 團隊合作、科學工技及藝術美學，<br>用心建造業主交付的每棟建築物。
  ul.halfBox
    li
      section
        .infoBox
          a(data-title="ADD" href="https://goo.gl/maps/9KRhZDbEeos", target="_blank") 台中市南屯區永春北路55號
          a(href="tel:04-23828211" data-title="TEL") 04-23828211
          p(data-title="FAX") 04-23828311
          .socialMedia
            //- a(href="").btn-line.bdbox
            a(href="https://www.facebook.com/CheeryouCycling/", target="_blank").btn-fb.bdbox
            a(href="https://www.youtube.com/channel/UCupK2lA4sW1DtPeCX781e1A?view_as=subscriber", target="_blank").btn-youtube.bdbox
    li
      section
        p.ps 若您任何問題，請填寫表格，我們將由專人為您服務，謝謝！(＊為必填)<br>謝謝您寶貴的意見，我們將盡快給您答覆。
        form(action="").formStyle
          ul
            li.required
              h6 姓　　名
              input(type="text")
            li.required
              h6 電　　話
              input(type="text")
            li
              h6 電子信箱
              input(type="text")
            li.required
              h6 問題敘述
              textarea(name="", cols="30", rows="10")
            li.required.code
              h6 驗 證 碼
              a(href="")
                img(src="./_temp/images/code.jpg", alt="", style="position: relative; top:50%; transform: translateY(-50%);")
              input(type="text")
          .rule
            label.checkbox
              input(type="checkbox")
              span 我已閱讀並了解
            a 啟宇個人資料運用告知聲明
            div.txt 感謝您自願提供個人資料，並同意仁山開發股份有限公司蒐集、儲存、保留、處理及利用您的資料，用作顧客關係管理、市場宣傳及推廣、市場研究分析及一般行政等相關事務用途。<br>台端得自由選擇是否提供，若所提供之個人資料，本公司難以確認您的身分真實性，或查覺有資料不實之情形，本公司將無法提供上述相關完整服務。
        .btns-group
          a(href="").bdbox 重填
          a(href="").bdbox 送出