.joinus
  h2.title-unit
    span JOIN US
    span 加入啟宇
  ul.halfBox
    li
      section
        h3.title-slogan 啟宇營造與您分享成果
    li
      section
        div 啟宇營造期許自己以更優良的工程品質及更精確的管理效率，成為全方位的優良營造廠，歡迎有興趣的你與妳一同加入啟宇的大家庭。
        a.btn-job.bdbox(href="https://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=4c3a4228346c3f2230683b1d1d1d1d5f2443a363189j99", target="_blank") 加入啟宇